// *****************
// Color Variables
// *****************
$primary-color: #505;
$secondary-color: #505;
$dark: #333;
$gray: #666;
$gray-dark: #999;
$gray-blue: #666;
$gray-white: #f8f8f8;
$gray-lighten: #c7d0e2;
$white: #fff;
